<!--Navbar-->
<nav class="navbar navbar-light fixed-top bg-dark">
  <a class="color-white" href="widget-list.html">
    <i class="fas fa-chevron-left"></i>
  </a>
  <div class="sw-90-width">
    <a class="navbar-brand" href="widget-list.html">
      <b class="color-white"> Widget Edit</b>
    </a>
  </div>
  <a class="color-white" href="widget-list.html">
    <i class="fas fa-check"></i>
  </a>
</nav><br><br>
<!--List -->
<div class="container">
  <form class="form-style">
    <!--Name-->
    <div class="form-group">
      <label for="name"><b>Name</b></label>
      <input type="text" id="name" class="form-control">
    </div>
    <!--Text-->
    <div class="form-group">
      <label for="textHeading"><b>Text</b></label>
      <input type="text" id="textHeading" class="form-control">
    </div>
    <!--Url-->
    <div class="form-group">
      <label for="urlHeading"><b>Url</b></label>
      <input type="text" name="url" id="url" value="https://youtune.be" class="form-control">
    </div>
    <!--Width-->
    <div class="form-group">
      <label for="widthHeading"><b>Width</b></label>
      <input type="text" id="widthHeading" class="form-control">
    </div>

    <div>
      <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>
    </div>
  </form>
</div>
<!--Footer-->
<footer class="navbar navbar-light fixed-bottom bg-dark">
  <!-- Navbar content -->
  <div class="full-width">
    <a class="color-white float-right" href="../user/profile.html"><i class="fas fa-user"></i></a>
  </div>
</footer>