<!--Form register-->
<div class="container">
  <form id="register_Form" class="form-style" (ngSubmit)="register()">
    <div *ngIf="user_error" class="alert alert-danger">This username exist!!</div>
    <div *ngIf="pwd_error" class="alert alert-danger">The verify password is different d'un password!!</div>
    <fieldset>
      <legend class="text-center">Register</legend>
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="username" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <input type="password" name="psw" class="form-control" placeholder="password" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <input type="password" name="psw_verif" class="form-control" placeholder="verify password" [(ngModel)]="verifPassword">
      </div>
      <div>
        <!-- <a routerLink="/user/:uid" href="profile.html" class="btn btn-primary btn-block ">Register</a>-->
        <button class="btn btn-primary btn-block" form="register_Form">Register</button>
        <a routerLink="/login" href="login.html" class="btn btn-danger btn-block">Cancel</a>
      </div>
    </fieldset>
  </form>
</div>